.button {
  padding: 1.2rem;
}

.button.white {
  background: white;
  color: black;
}

.button.black {
  background: #36312e;
  color: white;
}

.button.primary {
  background: #f46158;
}

.light-orange {
  background: #ffdecf;
}

.light-blue{
  background: lightblue;
}

.light-purple {
  background: #d4aefa;
}

.light-brown {
  background: #fac784;
}

.primary {
  background: #f46158;
}

.secondary {
  background: #36312e;
}

.header {
  background: #f0e6e2;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.8rem 2rem;
}

.header .nav .logo__title {
  font-size: 1.4rem;
}

.header .nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1rem;
}

.header .nav .navbar .nav-element {
  padding-right: 2rem;
}

.header .nav .navbar .nav-element:last-of-type {
  padding-right: 0;
}

.header .nav .navbar .nav-element a {
  text-decoration: none;
}

.header .nav .navbar .nav-element .link {
  color: #36312e;
}

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
}

.header .hero__title {
  font-size: 4rem;
}

.header .action__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}

.header .action__container .partner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .action__container .partner__container .partner {
  width: 100px;
  margin-right: 2rem;
}

.header .action__container .partner__container .partner:last-of-type {
  margin-right: 0;
}

.header .action__container .search__container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 4rem;
}

.companies .company {
  width: 100px;
  opacity: 0.8;
}

.explore {
  padding: 2rem;
}

.explore__header {
  padding: 2rem 0;
}

.explore__title {
  font-size: 4rem;
  display: flex;
  padding: 2rem;
  width: 350px;
}

.explore__cards {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content:space-around;
      
}

.explore__cards .card {
  width: 200px;
  height: 250px;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  padding-top: 100px;
  padding-left: 20px;
  font-weight: 700;

}
/*# sourceMappingURL=page.css.map */

.jobcontainer{
  padding: 5rem;
  justify-content: space-around;
}

.job-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-heading-left{
  font-size: 3em;
  width: 375px;
}

.jbutton{
  width: 7rem;
  height: 2.5rem;
  background-color: #f46158;
  color: #f0e6e2;
  
}

.uhead{
  color: red;
  font-size: 1em;
}

.jobcontainer-cards{
  display: flex;
  justify-content: space-evenly;
  padding: 2.5rem;
  flex-wrap: wrap;
}

.jobcontainer-cards div{
  width: 350px;
  height:280px;
  background-color: hsl(0, 0%, 97%);
  margin-right: 1rem;
  margin-bottom: 2rem; 
}
.cards{
  display: flex;
  flex-direction: column;
}

.card-upp{
  padding: 2.5rem;
  font-size: 2rem;
}

.card-low{
  padding: 1rem;
  font-size: large;
  align-content:center;
}

.card-low img{
  height: 33px;
  width: 40px;
  padding: 5px;
}

/* // home  */

.home-head{
  display: flex;
  padding: 5rem;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0rem;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffdecf;
}

.home-container-left{
  display: flex;
  flex-direction: column;
  padding: 6rem;
  padding-top: 50px;
  padding-bottom: 0%;
  width: 830px;
  background-color:  hsl(0, 0%, 97%);
}

.home-container-right{
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.home-container-left-r1{
  display: flex;
  flex-direction: row;
  padding: 4rem;
  padding-top: 30px;
  padding-right: 3rem;
  width: 750px;
}

.home-head-left img{
  height: 4rem;
  width: 4rem; 
}

.home-head-content {
  padding-left: 1rem;
  padding-top: 4px;
  color: rgb(73, 71, 71);
  font-size: 1rem;
}


.home-head-right{
  font-size: 4rem;
  color: rgba(44, 44, 44, 0.979);
}

.home-container-left-r2{
  display: flex;
  flex-direction: row;
  padding: 4rem;
  width: 650px;
  background-color:  #ffdecf;
}

.second-home-title{
   width: 500px;
   padding-top: 2.5rem;
   padding-left: 7rem;
   padding-right: 0%; 
}

.home-container-2-img1{
  padding-left: 31rem;
  padding-top: 5rem;
  position: absolute;
  z-index: -1;
}

.home-container-2-img1 img{
  width: 200px;
  height:10rem;
 
}

.home-container-2{
   display: flex;
   flex-direction: row;
   padding-left: 6rem;
   background-color:transparent ;
  
}

.home-container-left-r3{
  display: flex;
  flex-direction: row;
  padding: 4rem;
  width: 650px;
  background-color: hsl(0, 0%, 97%);
}

.home-container-2-img2{
  padding-left: 0rem;
  padding-top: 8rem;
  position: absolute;
  z-index: -1;

}

.home-container-2-img2 img{
  width: 27rem;
  height:25rem; 
}

.home-container-2-img3{
  padding-left: 22rem;
  padding-top: 20rem;
  position: absolute;
  z-index: -1;
}

.home-container-2-img3 img{
  width: 21.5rem;
  height:25rem;
}

.hbutton{
  padding-left: 6rem;
  padding-top: 36rem;
}
.hbutton input{
  position: absolute;
  padding: 1.5rem;
  background-color: tomato;
  color: #f0e6e2;
}

.bottom{
  padding: 7rem;
  text-align: center;
}

.bottom-container{
  /* background-image: url("./img/bg2.jpg");
   */
   background-color: rgb(31, 29, 29);
   width: 70rem;
   height: 40rem;
   text-align: center;
}

.center-container{
  /* display: flex;
  flex-direction: column;
  justify-content: center;*/
  padding: 12rem; 
  /* padding-top: 8rem; */
  font-size: 4rem;
  color: beige;
  text-align: center;
}

.lower-center{
  width: 100%;
}

.lower-center input {
  padding-left: 2rem;
  width: 12rem;
  height: 4rem;
}

.lower-center button{
  padding: 0%;
  width: 8rem;
  height: 4rem;
}

.bottom-navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    overflow: hidden;
  
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

.logo__title1{
  display: block;
  color: #423d3d;
  text-align: center;
  padding: 1rem 5rem;
}

.bottom-navbar a {
  float: left;
  display: block;
  color: #423d3d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
